:root {
    --shadow-color: #1858a9;
    --box-shadow-inner: 0 0 11px var(--shadow-color) inset, 0 0 11px var(--shadow-color) inset,
        0 0 11px var(--shadow-color) inset, 0 0 11px var(--shadow-color) inset, 0 0 11px var(--shadow-color) inset,
        0 0 11px var(--shadow-color) inset, 0 0 11px var(--shadow-color) inset, 0 0 11px var(--shadow-color) inset,
        0 0 11px var(--shadow-color) inset, 0 0 11px var(--shadow-color) inset, 0 0 11px var(--shadow-color) inset;
    --box-shadow-outer: 0 0 11px var(--shadow-color), 0 0 11px var(--shadow-color), 0 0 11px var(--shadow-color),
        0 0 11px var(--shadow-color), 0 0 11px var(--shadow-color), 0 0 11px var(--shadow-color),
        0 0 11px var(--shadow-color), 0 0 11px var(--shadow-color), 0 0 11px var(--shadow-color),
        0 0 11px var(--shadow-color), 0 0 11px var(--shadow-color);
    --text-shadow: 0 0 11px var(--shadow-color), 0 0 11px var(--shadow-color), 0 0 11px var(--shadow-color),
        0 0 11px var(--shadow-color), 0 0 11px var(--shadow-color), 0 0 11px var(--shadow-color),
        0 0 11px var(--shadow-color), 0 0 11px var(--shadow-color), 0 0 11px var(--shadow-color),
        0 0 11px var(--shadow-color), 0 0 11px var(--shadow-color);
    --button-shadow: 0 0 11px var(--shadow-color), 0 0 11px var(--shadow-color), 0 0 11px var(--shadow-color),
        0 0 11px var(--shadow-color);
}

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
}

.mainbg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.effect-shadow-inner {
    box-shadow: var(--box-shadow-inner);
}

.content-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1024px;
    max-width: 1024px;
    max-height: calc(100% - 70px);
    background-color: rgba(255, 255, 255, 0.83);
    border-radius: 30px;
    padding: 30px 0;
    color: #000000;
    overflow-x: hidden;
    overflow-y: hidden;
}

.hidden {
    visibility: hidden;
}

.content-wrapper.mobile {
    width: calc(100% - 60px);
}

.content-wrapper.mobile .line-break-desktop-only {
    display: none;
}

#top_bar {
    position: relative;
    left: 30px;
    width: calc(100% - 50px);
    height: 150px;
    white-space: nowrap;
    cursor: default;
}

#top_bar * {
    cursor: default;
}

#top_bar .logo {
    width: 92px;
    box-shadow: var(--box-shadow-outer);
    border-radius: 100%;
    padding: 11px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#top_bar .logoText {
    color: #ffffff;
    font-size: 65px;
    font-weight: bold;
    font-style: italic;
    text-shadow: var(--text-shadow);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 140px;
    margin-right: 50px;
}

#main_content {
    padding: 0 30px;
    overflow-x: hidden;
    overflow-y: auto;
}

.text-content,
.link-content {
    position: relative;
    display: inline-block;
}

.sub-heading {
    font-weight: bold;
}

.link-content .btnWrapper {
    text-align: center;
}

.topGap {
    margin-top: 30px;
}

.connectBtn {
    position: relative;
    cursor: pointer;
    display: inline-block;
    margin: 0 10px;
    width: 250px;
    height: 50px;
    border-radius: 25px;
    margin-top: 20px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    padding-top: 10px;
    border: 2px solid #000000;
    color: #000000;
}

.connectBtn:hover {
    box-shadow: var(--button-shadow);
    transform: translate(2px, 2px);
}

.connectBtn .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    width: 30px;
}

.connectBtn * {
    pointer-events: none;
}

.copyright {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    text-align: center;
    white-space: nowrap;
    font-size: 14px;
    font-weight: bold;
}

.landscape-mode-msg {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.landscape-mode-msg .info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.65);
    border-radius: 30px;
    padding: 50px 50px;
    color: #000000;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: center;
    white-space: nowrap;
    letter-spacing: 1.5px;
}

.landscape-mode .landscape-mode-msg {
    visibility: visible;
}

.landscape-mode .portrait-mode-content {
    visibility: hidden;
}

#hiddenElem {
    display: none;
}
